.take-out-report{
    border: 3px double rgb(185, 183, 183);
    background:#fff;
    padding-bottom: 10px;
    margin-top: 20px;
    
    
}

.flex-container{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    padding: 0 10px;
    

}

.take-out-btn-submit{
    position: absolute;
    width: 46%;
    height: 50px;
    left: 28%;
    top:0%;
    color: #fff;
    background: #274426;
    mix-blend-mode: normal;
    box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.39);
    border-radius: 11px;
    cursor: pointer;   
    font-size:1rem
}

#flex-1 {
    
    background-color: rgb(43, 47, 51);
    padding: 10px;
    flex: 20%;
    margin: 0.5% 0;
    font-size: 0.9rem;
    color: #fff;
  }
  
#flex-2 {
    background-color: #b9b9b9d2;
    padding: 10px;
    flex: 50%;
    margin: 0.5% 0;
    font-size: 0.9rem;
    color: #000;
  }


  @media (max-width: 600px) {
    .flex-container {
      flex-direction: column;
      padding: 10px;
    }

    .take-out-btn-submit{
        left: 0%;
        width: 100%;
    }

  }
